.container {
    position: absolute;
    justify-content: center;
    text-align: start;
    margin: 2rem auto;
    padding: 1rem;
    width: 20%;
    height: 75%;
    background-color: rgb(255, 255, 255);

    h2 {
        text-align: center;
    }

    p {
        font-size: medium;
        background-color: white;
        text-align: center;
        text-transform: capitalize;
        

        transition: 0.1s ease;
        
        &:hover{
            font-size: larger;
            filter: brightness(0.9);
            border-radius: 10px;

        }
    }
}